export PYTHONPATH="/Users/miguecor/Repositories/ansible-development/collections${PYTHONPATH:+:$PYTHONPATH}"
export PYLINTRC="/Users/miguecor/Repositories/ansible-development/collections/ansible_collections/cisco/dcnm/.pylintrc"