# ------------------------------
# Network 1
# ------------------------------
- net_name: "{{ test_data_common.net1 }}"
  vrf_name: "{{ test_data_common.net1_vrf }}"
  net_id: "{{ test_data_common.net1_net_id }}"
  net_template: "{{ test_data_common.net1_default_net_template }}"
  net_extension_template: "{{ test_data_common.net1_net_extension_template }}"
  vlan_id: "{{ test_data_common.net1_vlan_id }}"
  gw_ip_subnet: "{{ test_data_common.net1_gw_ip_subnet }}"
  attach:
  - ip_address: "{{ test_data_common.sw1 }}"
    ports: ["{{ test_data_common.sw1_int1 }}", "{{ test_data_common.sw1_int3 }}"]
  deploy: {{ test_data_common.deploy | bool }}
