# ------------------------------
# Network 1
# ------------------------------
- net_name: "{{ test_data_common.net1 }}"
  net_id: "{{ test_data_common.net1_net_id }}"
  net_template: "{{ test_data_common.net1_default_net_template }}"
  net_extension_template: "{{ test_data_common.net1_net_extension_template }}"
  vlan_id: "{{ test_data_common.net1_vlan_id }}"
  gw_ip_subnet: "{{ test_data_common.net1_gw_ip_subnet }}"
  mtu_l3intf: 7600
  arp_suppress: False
  # Leave 'arp_suppress' this false to avoid TCAM issue
  # Please configure TCAM region for Ingress ARP-Ether ACL before configuring ARP supression
  int_desc: 'test interface'
  is_l2only: True
  vlan_name: testvlan
  dhcp_srvr1_ip: '1.1.1.1'
  dhcp_srvr2_ip: '2.2.2.2'
  dhcp_srvr3_ip: '3.3.3.3'
  dhcp_srvr1_vrf: one
  dhcp_srvr2_vrf: two
  dhcp_srvr3_vrf: three
  deploy: {{ test_data_common.deploy | bool }}

# ------------------------------
# Network 2
# ------------------------------
- net_name: "{{ test_data_common.net2 }}"
  vrf_name: "{{ test_data_common.net2_vrf }}"
  net_id: "{{ test_data_common.net2_net_id }}"
  net_template: "{{ test_data_common.net2_default_net_template }}"
  net_extension_template: "{{ test_data_common.net2_net_extension_template }}"
  vlan_id: "{{ test_data_common.net2_vlan_id }}"
  gw_ip_subnet: "{{ test_data_common.net2_gw_ip_subnet }}"
  mtu_l3intf: 7600
  # Leave 'arp_suppress' this false to avoid TCAM issue
  # Please configure TCAM region for Ingress ARP-Ether ACL before configuring ARP supression
  arp_suppress: False
  int_desc: 'test interface 1'
  vlan_name: testvlan1
  dhcp_srvr1_ip: '1.1.1.1'
  dhcp_srvr2_ip: '2.2.2.2'
  dhcp_srvr3_ip: '3.3.3.3'
  dhcp_srvr1_vrf: one
  dhcp_srvr2_vrf: two
  dhcp_srvr3_vrf: three
  deploy: {{ test_data_common.deploy | bool }}