---
# This playbook can be used to execute integration tests for
# the role located in:
#
# tests/integration/targets/dcnm_network
#
# Modify the vars section with details for your testing setup.
#
# NOTES:
# 1. Ensure that the switches defined by switch1 and switch2 are
#    not vPC Pairs.
- hosts: dcnm
  name: Play for dcnm
  gather_facts: false
  connection: ansible.netcommon.httpapi

  vars:

    # ----------------------------------
    # Uncomment testcase to run a specific test
    # testcase: replaced_net_all
    test_data_common:
      # ---
      fabric: fabric-stage
      deploy: false
      # ---
      # Resources
      # ---
      sw1: 192.168.1.1
      sw2: 192.168.1.2
      # ---
      # Common VRF setup
      # ---
      vrf_1: ansible-vrf-int1
      vrf_1_id: 9008011
      vrf_1_vlan_id: 500
      # ---
      vrf_2: Tenant-1
      vrf_2_id: 9008012
      vrf_2_vlan_id: 501
      # ---
      vrf_3: Tenant-2
      vrf_3_id: 9008013
      vrf_3_vlan_id: 502
      # ---
      # Interfaces
      # ---
      sw1_int1: Ethernet1/15
      sw1_int2: Ethernet1/16
      sw1_int3: Ethernet1/17
      sw1_int4: Ethernet1/18
      # ---
      sw2_int1: Ethernet1/15
      sw2_int2: Ethernet1/16
      sw2_int3: Ethernet1/17
      sw2_int4: Ethernet1/18
      sw2_int5: Ethernet1/19
      sw2_int6: Ethernet1/20
      # ---
      net1: ansible-net13
      net1_net_id: 7005
      net1_default_net_template: Default_Network_Universal
      net1_net_extension_template: Default_Network_Extension_Universal
      net1_vlan_id: 1500
      net1_gw_ip_subnet: '192.168.30.1/24'
      # ---
      net2: ansible-net12
      net2_net_id: 7002
      net2_default_net_template: Default_Network_Universal
      net2_net_extension_template: Default_Network_Extension_Universal
      net2_vlan_id: 151
      net2_gw_ip_subnet: '192.168.40.1/24'
      # ---
      net1_vrf: Tenant-1
      net2_vrf: Tenant-2

  roles:
    - dcnm_network
